:root{
    /* font-size */
    --fs-sm:14px;
    --fs-md:16px;
    --fs-mmd: 18px;
    --fs-lg: 14px;
    --fs-llg: 21.74px;
    --fs-2lg: 25px;
    --fs-xl: 20px;
    --fs-xxl: 25px;
    --fs-2xl: 41px;

    /* font-color */
    --fc-white:#ffffff;
    --fc-black: #000000;
    --fc-primary-blue: #009dff;
    --fc-regular-blue: #000a1a;
    --fc-secondary-blue: #031227;
    --fc-blue: #001d49;
    --fc-dark-blue: #031227;
    --fc-light-gray: #b2c8d6;
    --fc-gray: #b3b8be;
    --fc-gray-100:#80848c;
    --fc-gray-200: #b2b5ba;
}
.clr-white{
    color: var(--fc-white);
}
.clr-black {
    color: var(--fc-black);
}
.clr-blue {
    color: var(--fc-blue);
}
.clr-secondary-blue{
    color: var(--fc-secondary-blue);
}
.clr-dark-blue {
    color: var(--fc-dark-blue);
}
.clr-gray{
    color: var(--fc-gray);
}
.clr-light-gray{
    color: var(--fc-light-gray);
}
.clr-gray-100 {
    color: var(--fc-gray-100);
}
.clr-gray-200 {
    color: var(--fc-gray-200);
}


/* bg clr */
.bg-clr-white {
    background-color: var(--fc-white);
}
.bg-clr-regular-blue {
    background-color: var(--fc-regular-blue);
}
.bg-clr-dark-blue{
    background-color: var(--fc-dark-blue);
}

/* font size */
.text-14{
    font-size: var(--fs-sm);
}
.text-16 {
    font-size: var(--fs-md);
}
.text-18 {
    font-size: var(--fs-mmd);
}
.text-20 {
    font-size: var(--fs-lg);
}
.text-21 {
    font-size: var(--fs-llg);
}.text-25 {
    font-size: var(--fs-2lg);
}
.text-30 {
    font-size: var(--fs-xl);
}
.text-50 {
    font-size: var(--fs-xxl);
}
.text-70 {
    font-size: var(--fs-2xl);
}

@media(min-width:576px){
        :root {
                --fs-lg: 16px;
                --fs-xl: 25px;
                --fs-xxl: 40px;
                --fs-2xl: 55px;
            }
}
@media(min-width:768px) {
    :root {
        --fs-lg: 20px;
                --fs-xxl: 50px;
        --fs-2xl: 70px;
    }
}
@media(min-width:992px){
        :root{
            --fs-md: 16px;
                --fs-mmd: 18px;
                --fs-lg: 20px;
                --fs-llg: 21.74px;
                --fs-2lg: 25px;
                /* --fs-xl: 30px; */
                --fs-xxl: 50px;
                --fs-2xl: 70px;
        }
}
@media(min-width:1200px) {
    :root {
        --fs-xl: 30px;
    }
}
