@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none !important;
    text-decoration: none !important;
    scroll-behavior: smooth;
    /* outline: 1px solid red; */
}

.font-poppin {
    font-family: 'Poppins', sans-serif;
}
.font-montserrat {
    font-family: 'montserrat', sans-serif;
}

/* font weight */
.fw400 {
    font-weight: 400;
}

.fw500 {
    font-weight: 500;
}

.fw600 {
    font-weight: 600;
}

.fw700 {
    font-weight: 700;
}

/* line height */
.lh19 {
    line-height: 19.5px;
}

.lh21 {
    line-height: 21.76px;
}

.lh24 {
    line-height: 24px;
}

.lh29 {
    line-height: 29.2px;
}

.lh30 {
    line-height: 30.15px;
}

.lh32 {
    line-height: 32.62px;
}

.lh37 {
    line-height: 37.5px;
}
.lh40 {
    line-height: 40.8px;
}

.lh41 {
    line-height: 41px;
}

.lh45 {
    line-height: 45px;
}
.lh62 {
    line-height: 62px;
}

.lh86 {
    line-height: 66.8px;
}

.lh68 {
    line-height: 68px;
}


/* ========================== herosection ============================== */
.herobg {
    background-image: url(../images/herosectionbg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.minting {
    position: relative;
}

.minting::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1.5px;
    background: var(--fc-white);
    bottom: 0;
    left: 0;
    border-radius: 2px;
    transition: .5s;
}

.minting:hover::after {
    width: 100%;
}

.max-w-1320 {
    max-width: 1320px;
}

.pt26 {
    padding-top: 26px;
}

.gap80 {
    gap: 40px;
}

.max-w-515 {
    max-width: 515px;
}

.max-w-547 {
    max-width: 547px;
}

.para {
    padding-top: 12px;
    padding-bottom: 12px;
    opacity: 70%;
}

.btngetstarted {
    border: none;
    padding: 12px 32px 12px 32px;
    border-radius: 45.5px;
    transition: .2s;
}

.btngetstarted:hover {
    scale: .95;
}

.rectanglelayer {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

/* =============================section 2 ========================== */
.sol {
    padding-top: 46px;
}

.whitelist {
    padding-top: 21px;
}

.btncomingsoon {
    border: none;
    border-radius: 45.5px;
    padding: 10px 20px;
    margin-top: 63px;
    transition: .5s;
}

.btncomingsoon:hover {
    scale: .95;
}

.pt52 {
    padding-top: 52px;
}

.svg a svg {
    transition: .2s;
}

.svg a svg:hover {
    transform: translateY(-6px);
}

.max-w-574 {
    max-width: 574px;
}

.paddingtb {
    padding-top: 26px;
    padding-bottom: 40px;
}

.gifelip {
    position: absolute;
    top: -55%;
    left: 4%;
    z-index: -1;
}

.sectionelip {
    position: absolute;
    bottom: -80%;
    right: 0;
    z-index: -1;
}

/* ========================================card ================================= */
.padding44 {
    padding-top: 44px;
}

.cardtext {
    opacity: 70%;
    max-width: 347px;
    padding-top: 25px;
}

.imagecard {
    padding: 25px 25px;
    border-radius: 20px;
    min-height: 511px;
    transition: 1s;
    cursor: pointer;
}

.imagecard:hover {
    box-shadow: 0px 4px 20px 0 var(--fc-primary-blue);
}

.padding65 {
    padding-top: 45px;
    padding-bottom: 45px;
}

/* ====================================== timeline ================================== */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 74px;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background-image: url(../images/timelineborder.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.container1 {
    padding-right: 65px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.container1::after {
    content: '';
    position: absolute;
    width: 64.92px;
    height: 64.92px;
    right: -30px;
    background-image: url(../images/timelinedot.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    border-radius: 50%;
    z-index: 1;
}

/* Container around content */
.container2 {
    padding-left: 65px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.container2::after {
    content: '';
    position: absolute;
    width: 64.92px;
    height: 64.92px;
    right: -33px;
    background-image: url(../images/timelinedot.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: -5px;
    border-radius: 50%;
    z-index: 1;
}



/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -34px;
}

/* The actual content */
.content {
    position: relative;
    border-radius: 6px;
    padding-right: 96px;
}

.content1 {
    position: relative;
    border-radius: 6px;
    padding-left: 96px;
}

.ptb {
    padding-top: 24px;
    padding-bottom: 50px;
}

.max-w-786 {
    max-width: 786px;
}

.timeand {
    padding-top: 140px;
}

.timelineshadow {
    position: absolute;
    top: -20%;
    left: 0;
    z-index: -1;
}

/* ============================= FAQS ====================*/
.paddingfaq {
    padding-top: 45px;
    padding-bottom: 45px;
}

.faq {
    padding-bottom: 47px;
}

.accordion {
    max-width: 830px !important;
    margin-left: auto;
    margin-right: auto;
    --bs-accordion-btn-focus-box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
    color: var(--fc-white) !important;
    background-color: transparent !important;
    box-shadow: none !important;
}

.accordion-header {
    padding: 20px 32px;
    border-radius: 150px;
    cursor: pointer;
}

.accordion-button {
    border: transparent !important;
    padding: 0 !important;
    position: relative;
}

.accordion-item {
    color: var(--bs-accordion-color);
    background-color: transparent !important;
    border: none !important;
    margin-bottom: 26px;
}

.accordion-body {
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 30px;
    padding-right: 30px;
    opacity: 60%;
}

.accordion-button:not(.collapsed)::after {
    /* background-image: url(../images/faqdown.png) !important; */
    /* transform: none !important; */
    border: 2px solid var(--fc-white);
    border-width: 0 3px 3px 0;
    transform: rotate(44deg);
    width: 13px !important;
    height: 13px !important;
    position: absolute;
    right: 0;
    top: 3px;
}

.accordion-button::after {
    background-image: none !important;
    right: 0;
    top: 9px;
    position: absolute;
    border: 2px solid var(--fc-white);
    border-width: 0 3px 3px 0;
    transform: rotate(-135deg);
    width: 13px !important;
    height: 13px !important;
    right: 0;
}
.faqshadow{
    position: absolute;
    right: 0;
    top: -60%;
    z-index: -1;
}
/* ================================= our team =================================== */
.paddingteam{
    padding-top: 45px;
    padding-bottom: 42px;
}
.prime{
    padding-top: 32px;
    padding-bottom: 2px;
}
.team{
    padding-bottom: 26px;
}
/* ==================================== footer =================================== */
.join{
    padding-top: 179px;
    padding-bottom: 106px;
}
.bgfooter{
    background-image: url(../images/footerbg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.footertext{
    opacity: 70%;
    max-width: 388px;
    padding-top: 21px;
    padding-bottom: 20px;
}
.resources{
    padding-top: 30px;
    padding-bottom: 10px;
}
.map{
    padding-bottom: 6px;
}
.community{
padding-top: 30px;
    padding-bottom: 10px;
}
.paddingb{
    padding-bottom: 45px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 768px) {
    .timeline {
        margin-top: 40px;
    }

    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .container1 {
        width: 100%;
        padding-left: 65px;
        padding-right: 0;
    }

    .container2 {
        width: 100%;
        padding-left: 65px;
    }

    .container1::after {
        height: 45.92px;
        width: 45.92px;
    }

    .container2::after {
        height: 45.92px;
        width: 45.92px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
        left: 5px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }

    .content {
        padding-right: 0;
    }

    .content1 {
        padding-left: 0;
    }
}

@media(max-width:991.98px) {
    .menulist {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: fixed;
        background: var(--fc-blue);
        top: 0;
        left: -100%;
        transition: all 300ms linear;
        z-index: 1;
    }

    .menuicon {
        width: 30px;
        height: 30px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        z-index: 2;
    }

    .menuicon>span {
        width: 100%;
        height: 4px;
        background-color: var(--fc-white);
        transition: all 300ms linear;
    }


    .overflowhidden {
        overflow: hidden;
    }

    .cross span:nth-child(1) {
        transform: rotate(40deg) translateY(17px);
        transition: all 300ms linear;
        background-color: var(--fc-white);
    }

    .cross span:nth-child(2) {
        opacity: 0;
        transform: translate(-100%);
        transition: all 300ms linear;
    }

    .cross span:nth-child(3) {
        transform: rotate(-40deg) translateY(-17px);
        transition: all 300ms linear;
        background-color: var(--fc-white);
    }

    .timeand {
        padding-top: 50px;
    }

    .content {
        padding-right: 0;
    }

    .content1 {
        padding-left: 0;
    }
}

@media(min-width:365px) {
    .accordion-button:not(.collapsed)::after {
        width: 9px !important;
        height: 9px !important;
        right: -15px;
    }

    .accordion-button::after {
        width: 9px !important;
        height: 9px !important;
        right: -15px;
    }
}

@media(min-width:576px) {
    .accordion-button:not(.collapsed)::after {
        width: 13px !important;
        height: 13px !important;
        right: 0;
    }

    .accordion-button::after {
        width: 13px !important;
        height: 13px !important;
        right: 0;
    }

.padding65 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.paddingtb {
    padding-top: 26px;
    padding-bottom: 55px;
}

.para {
    padding-top: 23px;
    padding-bottom: 23px;
}

.lh86 {
    line-height: 86.8px;
}

.btngetstarted {
    padding: 16px 41px 15px 40px;
}

.gap80 {
    gap: 60px;
}
}

@media(min-width:768px) {
    .paddingfaq {
            padding-bottom: 50px;
        }
    .ptb {
        padding-bottom: 80px;
    }

    .para {
        padding-top: 27px;
        padding-bottom: 46px;
    }

    .gap80 {
        gap: 80px;
    }

    .max-w-404 {
        max-width: 404px;
    }
}

@media(min-width:992px) {
    .paddingteam {
            padding-top: 60px;
        }
    .paddingfaq {
            padding-bottom: 60px;
        }
    .padding65 {
        padding-top: 65px;
        padding-bottom: 65px;
    }

    .paddingtb {
        padding-top: 26px;
        padding-bottom: 63px;
    }

    .imagecard {
        padding: 39px 39px;
    }
}

@media(min-width:1200px) {
    .ptb {
        padding-bottom: 146px;
    }

    /* .container1 {
                padding-left: 96px;
            }
        
            .container2 {
                padding-right: 96px;
            } */
}